.forget-form {
    max-width: 350px;
    border:1px solid#DCDCDC;
    border-radius: 10px;
    padding:20px;
    margin:auto;
    box-shadow: 10px 10px 5px #DCDCDC;
}
.forget-form-forgot {
    float: right;
}
.forget-form-button {
    width: 100%;
}
#admin-forget-root {
  width:100%;
  height:100%;
  padding-top:50px;
}
